@{
    ViewData["Title"] = "Home Page";
}

<h1>Login Page</h1>

<form action="/Home/userlogin">
    <label>name</label>
    <input id="fName" name="fname" type="text" />

    <label>ssn</label>
    <input id="id" name="id" type="number" />
    <input type="submit" value="login" />


</form>
