@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the company page</h1>
    <h2> you can mange all employees through this website by using side bar.</h2>
</div>
