@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MVC2.ViewModels.ProjectVM
<form asp-action="addProject" asp-controller="Project">
    <label asp-for="name" > name</label>
    <input asp-for="name" class="form-control" />
    <div>
        <span asp-validation-for="name" class="text-danger"></span>
    </div>

    <label asp-for="location">location</label>
    <input asp-for="location" class="form-control" />
     <div>
        <span asp-validation-for="location" class="text-danger"></span>
    </div>

    <label asp-for="confirmLocation">location</label>
    <input asp-for="confirmLocation" class="form-control" />
    <div>
        <span asp-validation-for="confirmLocation" class="text-danger"></span>
    </div>

    <label asp-for ="departmentid">Department</label>
    <select asp-for="departmentid" asp-items="ViewBag.depts" class="form-control">
        <option >Choose One</option>
    </select>


    <input type="submit" value="Add" />
</form>
@section scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}